/*
	VARS
*/

// FONTS
$font-primary: 'Cabin', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

// COLORS
$white: #FFFFFF;
$black: #333333;
$primary: #A454FF;
$secondary: #3B70F0;
$yellow: #FCCF31;
$blue: #3B70F0;
$light-grey: #F4F5F7;
$grey: #858585;
$linkedin: #0073b1;
$background-dark: #181818;
$background-dark-lighter: #202020;

// GRADIENTS
$main-gradient: linear-gradient(to right, #a454ff, #b651f7, #c54eee, #d24ce5, #dd4bdd);
$grey-gradient: linear-gradient(to right, #f4f5f7, #f7f7f9, #fafafb, #fcfcfd, #ffffff);
$blue-to-purple-gradient: linear-gradient(to right bottom, #3b70f0, #736bf1, #9b63ee, #be58e8, #dd4bdd);
$blue-to-purple-gradient-bottom: linear-gradient(to bottom, #3b70f0, #736bf1, #9b63ee, #be58e8, #dd4bdd);

// BREAKPOINTS
$screen-lg: 992px;
$screen-md: 769px;
$screen-sm: 577px;
